.home{
    position: absolute;
    left: 50%;
    width: 78px;
    height: 40px;
    border: 1px white solid;
    border-radius: 10px;
    background: cornflowerblue;
}


.home > a {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}

.spacer{
    height: 3%;
}

.formContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
}

.fBody{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 15px;
}

.fFooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap: inherit;
}

.hover a:hover{
    background: lightskyblue;
    cursor: pointer;
    border-radius: 18%;
}

